.layout-parent {
	display: flex;
	height: 100%;
	width: 100%;
	padding: 15px;
	height: 100vh;
	gap: 10px;
}

.body {
	width: 100%;
}

.header {
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.407);
	width: 100%;
	padding: 20px;
}

.menu-item {
	display: flex;
	align-items: center;
	justify-content: start;
	padding: 5px 15px;
	width: 100%;
	cursor: pointer;
	transition: 0.25;
	gap: 8px;
}

.active-menu-item {
	border: 2px solid white;
	border-radius: 5px;
}
.menu-item i {
	font-size: 18px;
	margin-right: 20px;
	color: white;
	list-style: none;
}

.menu-item span {
	font-size: 18px;
	color: white;
}

.sidebar {
	/*width: 300px;*/
	background-color: var(--secondary);
	border-radius: 5px;
	display: flex;

	justify-content: start;
	padding: 0 20px;
	flex-direction: column;
}

.role {
	color: white;
	font-size: 16px;
}

.menu {
	margin-top: 60px;
}

.logo {
	color: white;
}

.content {
	padding: 10px;
}
